.cup_filter_1 {
    filter: invert(75%) sepia(79%) saturate(937%) hue-rotate(358deg) brightness(103%) contrast(105%);
}

.cup_filter_2 {
    filter: invert(85%) sepia(0%) saturate(1%) hue-rotate(152deg) brightness(94%) contrast(84%);
}

.cup_filter_3 {
    filter: invert(49%) sepia(39%) saturate(709%) hue-rotate(351deg) brightness(97%) contrast(89%);
}

.cup {
    width: 16px;
    height: 16px;
}